html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
  font-family: "sofia", cursive;
}
.sofia-regular {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}
.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

.comic-neue-light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}

.comic-neue-regular-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}

.comic-neue-bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}

body {
  background-color: #b5bdc4;
}
.head {
  text-align: center;
  padding: 20px;
  font-size: 80px;
  color: #307060;
  text-shadow: #729696 3px 3px 5px;
  margin: 20px;
}
.card {
  width: 20vw;
  height: 400px;
  background-color: #e2e2e4;
  margin: 15px auto;
  border-radius: 20px;
  border: 3px solid #7e8685;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: #2d353d 10px 10px 20px;
  flex-wrap: wrap;
  transition: 0.3s;
}
.container {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 70px;
}
.card-price {
  font-family: "Comic Neue", cursive;
  font-size: 25px;
  margin: 10px;
  text-align: center;
}

.card-header {
  font-family: "Sofia", cursive;
  font-size: 25px;
  text-align: center;
  margin: 10px;
}

.card-img {
  width: 200;
  height: 200;
}

.text {
  font-size: 20px;
  margin: 5px;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}

.card:hover {
  transform: scale(1.1);
}
